<div class="jumbotron border-bottom border-success">
  <h1 class="text-center top font-weight-bold">Devour the Burgers!!!</h1>
  <hr class="my-1">
</div>
<div class="container-fluid">
   <div class="row">
    <div class="col md-6 align-right">
        <div class="card">
            <div class="card-body bg-light">
                <h2 class="font-weight-bold">Burgers that are not eaten</h2>   
                    <br>
                    <ul>
                    {{#each burgers}}
                        {{#unless devoured}}
                        {{> burgers/burger-block devoured=false}}
                        {{/unless}}
                    {{/each}}
                    </ul>
            </div>  
        </div>          
    </div>
    <div class="col md-6 align-left">
       <div class="card">
            <div class="card-body bg-light"> 
                <h2 class="font-weight-bold">Burgers that have been devoured!</h2>
                    <br>
                    <ul>
                    {{#each burgers}}
                        {{#if devoured}}
                        {{> burgers/burger-block devoured=true}}
                        {{/if}}
                    {{/each}}
                    </ul>
            </div>    
       </div>        
    </div>
   </div>
</div>

<div class="container-fluid align-center">
    <div class="row">
        <div class="col-3 align-center">
            <h2 class="font-weight-bold">Add a Burger</h2>
            <form class="create-form">

            <div class="form-group">
                <label class ="font-weight-bold" for="br">Burger Type</label>
                <input type="text" id="br" name="name">
            </div>


            <button type="submit" class="font-weight-bold">Add Burger!</button>
            </form>
        </div>    
    </div>
</div> 

<footer id="sticky-footer" class="py-4 fixed-bottom">
</footer>